<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
        <!--        <link rel="stylesheet" th:href="@{/css/item_main.css}" />-->
    </th:block>
        <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet" />
        <link href="/personnel/css/personnel.regist.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	    
</head>
<body>
<th:block layout:fragment="content">
    <div>
  <h2 class="mb-4">설비 추가</h2>
  <!-- form -->
  <form id="equipForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <span class="form-label">설비 이름</span>
        <input type="text" name="equipNm" id="equipNm" class="form-control" placeholder="설비명을 입력하세요">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <span class="form-label">비고</span>
        <textarea name="note" class="form-control" id="note"  rows="3"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-label">설비 구입 날짜</span>
        <input type="date" name="purchaseDt" class="form-control" id="purchaseDt">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-label">설치 날짜</span>
        <input type="date" name="installDt" class="form-control" id="installDt" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <span class="form-label">설비 유형</span>
        <select name="typeId" class="form-select" id="typeId">
          <option value="">설비 유형</option>
          <th:block th:each="comList :${comList}">
          	<option th:value="${comList.comDtId}" th:text="${comList.comDtNm}"></option>
          </th:block>
        </select>
      </div>
    </div>

    

    <div class="d-flex justify-content-end mt-4 gap-2">
      <button type="button" class="btn btn-primary confirmAddBtn" onclick="addEquip()">추가</button>
      <button type="button" class="btn btn-secondary">닫기</button>
    </div>
  </form>

  <!-- confirm modal -->
  <div class="modal fade confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          설비을 추가하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary confirmModalBtn" >확인</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>

  <!-- alert modal -->
  <div class="modal fade alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          저장이 완료되었습니다!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary alertBtn">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>

</th:block>

<th:block layout:fragment="script">
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const token = $("meta[name='_csrf']").attr("content");
		const header = $("meta[name='_csrf_header']").attr("content");
		
		$(document).ajaxSend(function(e, xhr, options) {
			if (token && header) {
				xhr.setRequestHeader(header, token);
			}
		});
	});
	
 
 		
 	function addEquip(){
 		const equipName = document.getElementById('equipNm').value;
 		const equipType = document.getElementById('typeId').value;
 		const purchaseDt = document.getElementById('purchaseDt').value;
 		const installDt = document.getElementById('installDt').value;
 		
 		if(!equipName){
 			alert('설비명을 입력해주세요');
 			return;
 		}else if(!purchaseDt){
 			alert('설치날짜를 선택 해주세요');
 			return;
 		}else if(!installDt){
 			alert('구입날짜를 선택 해주세요');
 			return;
 		}else if(!equipType){
 			alert('설비타입을 선택 해주세요');
 			return;
 		}
 		
 		const formData = $('#equipForm').serialize();
 		$.post('/plant/equipAdd', formData, function(response){
 			window.opener.location.reload();
 			alert('설비 정보를 추가합니다');
 			window.close();
 			
 		}).fail(function(){
 			alert('전송 오류가 발생 했습니다.');
 		});
 		
 	}
		
	
        
	    
	    
		const closeBtn = document.querySelector(".btn.btn-secondary");
	    if (closeBtn) {
	        closeBtn.addEventListener("click", () => {
	            window.close();
	        });
   		}
	  

        
    </script>
</th:block>
</body>
</html>
