<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
        <!--        <link rel="stylesheet" th:href="@{/css/item_main.css}" />-->
    </th:block>
        <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet" />
        <link href="/personnel/css/personnel.regist.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	    
</head>
<body>
<th:block layout:fragment="content">
    <div>
  <h2 class="mb-4">공정 추가</h2>
  <!-- form -->
  <form id="processForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <span class="form-label">공정명</span>
        <input type="text" name="proNm" id="proNm" class="form-control" placeholder="공정명을 입력하세요">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <span class="form-label">공정 설명</span>
        <textarea name="note" class="form-control" id="note" placeholder="공정 설명을 입력하세요" rows="3"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <span class="form-label">공정 유형</span>
        <select name="typeNm" class="form-select" id="typeId">
          <option value="">공정 유형</option>
          <th:block th:each="comList :${comList}">
          	<option th:value="${comList.comDtNm}" th:text="${comList.comDtNm}"></option>
          </th:block>
        </select>
      </div>
    </div>

    

    <div class="d-flex justify-content-end mt-4 gap-2">
      <button type="button" class="btn btn-primary confirmAddBtn" onclick="addProcess()">추가</button>
      <button type="button" class="btn btn-secondary">닫기</button>
    </div>
  </form>

  <!-- confirm modal -->
  <div class="modal fade confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          공정을 추가하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary confirmModalBtn" >확인</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>

  <!-- alert modal -->
  <div class="modal fade alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          저장이 완료되었습니다!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary alertBtn">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>

</th:block>

<th:block layout:fragment="script">
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const token = $("meta[name='_csrf']").attr("content");
		const header = $("meta[name='_csrf_header']").attr("content");
		
		$(document).ajaxSend(function(e, xhr, options) {
			if (token && header) {
				xhr.setRequestHeader(header, token);
			}
		});
	});
	
 
 		
 	function addProcess(){
 		const processName = document.getElementById('proNm').value;
 		const processType = document.getElementById('typeId').value;
 		const processNote = document.getElementById('note').value;
 		
 		if(!processName){
 			alert('공정명을 입력해주세요');
 			return;
 		}else if(!processNote){
 			alert('공정설명을 적어주세요');
 			return;
 		}else if(!processType){
 			alert('공정타입을 선택 해주세요');
 			return;
 		}
 		
 		
 		const formData = $('#processForm').serialize();
 		$.post('/plant/processAdd', formData, function(response){
 			window.opener.location.reload();
 			alert('공정 정보를 추가합니다');
 			window.close();
 			
 		}).fail(function(){
 			alert('전송 오류가 발생 했습니다.');
 		});
 		
 		
 	}
		
	
        
	    
	    
		const closeBtn = document.querySelector(".btn.btn-secondary");
	    if (closeBtn) {
	        closeBtn.addEventListener("click", () => {
	            window.close();
	        });
   		}

	  

    </script>
</th:block>
</body>
</html>
