<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
        <!--        <link rel="stylesheet" th:href="@{/css/item_main.css}" />-->
        
        
        <style>
        	.prs-add{
        	
        	}
        	
        
        </style>
    </th:block>
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    
    
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
    	
    	<button id="prs-add" class="btn btn-primary btn-sm" onclick="addProcess()" style="float:right;">추가</button>
		<div id="grid"></div>
	












   
    </div>

</th:block>

<th:block layout:fragment="script">
 <script>
 const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
 const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
 
	 
	 document.addEventListener('DOMContentLoaded', function() {
        // 그리드 초기화
      
        const grid = new tui.Grid({
          el: document.getElementById('grid'), // 그리드가 붙을 엘리먼트
          scrollX: false,
          scrollY: false,
          columns: [
            { header: '공정코드', name: 'proId' },	
            { header: '공정명', name: 'proNm' },	
            { header: '공정 타입', name: 'typeNm' },
            { header: '공정 설명', name: 'note' },
          ],
        });
        
        fetch('/plant/processGrid', {
            method: 'GET',
            headers: {
              [header]: token  // 동적으로 headerName을 키로 넣음
            }
          })
          .then(res => {
            if (!res.ok) throw new Error('서버 응답 에러: ' + res.status);
            return res.json();
          })
          .then(data => {
            grid.resetData(data);
          })
          .catch(err => console.error('fetch error:', err));
        });
        
	 
	 
	 
	 function addProcess(){
		 alert('작동');
		 var url = '/plant/process-newForm';
		 window.open(url, "popup", "width=830,height=750");
		 
		 
		 
	 }
        
    </script>
</th:block>
</body>
</html>
