<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.quality.mapper.InspectionItemMapper">
    <select id="findAllInspectionItems" resultType="com.erp_mes.mes.quality.dto.InspectionItemDTO">
        SELECT
            ITEM_ID,
            INSPECTION_TYPE,
            ITEM_NAME,
            TOLERANCE_VALUE,
            UNIT
        FROM INSPECTION_ITEM
    </select>
</mapper>