<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.erp_mes.mes.lot.mapper.LotMapper">
  <select id="lotListWithPaged" resultType="com.erp_mes.mes.lot.dto.LotDTO">
  	SELECT
        COALESCE(fg.lot_id, w.lot_id) AS lotId,   -- FG LOT 있으면 FG LOT 표시
        o.work_order_status AS worOrderStatus,
        w.work_order_id AS workOrderId,
        p.product_name AS productName,
        pl.product_id AS productId
    FROM work_result w
    LEFT JOIN work_order o 
        ON o.work_order_id = w.work_order_id
    LEFT JOIN product_plan pl 
        ON pl.plan_id = o.plan_id
    LEFT JOIN product p 
        ON p.product_id = pl.product_id
    LEFT JOIN (
        SELECT 
            lot_id,
            type,
            work_order_id
        FROM lot_master
    ) fg ON fg.work_order_id = w.work_order_id and fg.type = 'FG'
    WHERE w.lot_id IS NOT NULL
    ORDER BY w.work_order_id ASC
	OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY	
  </select>
  
  <select id="findAll" resultType="com.erp_mes.mes.plant.dto.ProcessDTO">
        SELECT 
            r.route_id,
            r.pro_seq,
            r.note,
            r.equip_id,
            r.pro_id,
            r.product_id,
            
            p.pro_nm,
            p.type_nm,
            
            e.equip_nm,
            
            d.product_name,
            
            r.material_id,
            m.material_name
            
        FROM 
            process_routing r
        LEFT JOIN
            process p 
        ON 
            r.pro_id = p.pro_id
        JOIN 
            equipment e
        ON 
            r.equip_id = e.equip_id
        JOIN
            product d
        ON
            r.product_id = d.product_id
        LEFT JOIN 
            material m
        on 
            r.material_id = m.material_id
            
        WHERE r.product_id = #{productId}
        ORDER BY 
            d.product_id, r.pro_seq ASC
    </select>
  </mapper>