<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.plant.mapper.ProcessMapper">


<resultMap id="ProcessMap" type="com.erp_mes.mes.plant.dto.ProcessDTO">
    <result property="proId" column="pro_Id"/>
    <result property="proNm" column="pro_Nm"/>
    <result property="note" column="note"/>
    <result property="typeId" column="pro_type"/>
    <result property="typeNm" column="com_dt_Nm"/>
</resultMap>

	<select id="findAll" resultMap="ProcessMap">
		select 
			p.pro_Id, 
			p.pro_Nm, 
			p.note,
			
			c.com_dt_Nm
		from 
			process p 
		inner join 
			common_dt_code c
		on
			p.pro_type = c.com_dt_id AND C.COM_ID = 'PRO'
	</select>
</mapper>