<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.pm.mapper.ProductBomMapper">
	
	<!-- 제품 리스트 -->
	<select id="getProductList" resultType="com.erp_mes.mes.pm.dto.ProductDTO">
		SELECT p.product_id, p.product_name, c.com_dt_nm AS productType, cc.com_dt_nm AS unit, p.created_at
		FROM product p
		JOIN common_dt_code c
		ON p.product_type = c.com_dt_id
		JOIN common_dt_code cc
		ON p.unit = cc.com_dt_id
	</select>
	
	<!-- 제품 유형(공통코드) -->
	<select id="getCommonPtype" resultType="com.erp_mes.erp.commonCode.dto.CommonDetailCodeDTO">
		SELECT 
		    com_dt_id AS comDtId,
		    com_dt_nm AS comDtNm,
		    com_id    AS comId
		FROM common_dt_code
		WHERE com_id = #{comId}
	</select>
	
	<!-- 단위(공통코드) -->
	<select id="getCommonUnit" resultType="com.erp_mes.erp.commonCode.dto.CommonDetailCodeDTO">
		SELECT 
		    com_dt_id AS comDtId,
		    com_dt_nm AS comDtNm,
		    com_id    AS comId
		FROM common_dt_code
		WHERE com_id = #{comId}
	</select>
	
	<!-- 제품 등록 -->
	<insert id="ProductRegist" parameterType="com.erp_mes.mes.pm.dto.ProductDTO">    
	    INSERT INTO product (product_id, product_name, product_type, unit,
                     created_at)
		VALUES (
		      #{productId},
		      #{productName},
		      #{productType},
		      #{unit},
		      SYSDATE
		)
	</insert>
	
	<!-- bom 리스트 -->
	<select id="getBomList" resultType="com.erp_mes.mes.pm.dto.BomDTO">
		SELECT b.material_id, b.quantity, c.com_dt_nm AS unit, b.revision_no, b.created_at
		FROM bom b
		JOIN common_dt_code c
		ON b.unit = c.com_dt_id
		WHERE b.product_id = #{productId}
	</select>
</mapper>

















