<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.quality.mapper.QualityMapper">

    <insert id="insertItem" parameterType="com.erp_mes.mes.quality.dto.InspectionItemDTO">
        INSERT INTO INSPECTION_ITEM (
            ITEM_ID,
            PRODUCT_ID,
            INSPECTION_FM_ID,
            TOLERANCE_VALUE,
            UNIT
        )
        VALUES (
            INSPECTION_ITEM_SEQ.NEXTVAL,
            #{productId},
            #{inspectionFMId},
            #{toleranceValue},
            #{unit}
        )
    </insert>

    <select id="findAllItems" resultType="com.erp_mes.mes.quality.dto.InspectionItemDTO">
        SELECT
            T1.ITEM_ID,
            T1.PRODUCT_ID AS productId,
            T1.INSPECTION_FM_ID,
            T1.TOLERANCE_VALUE,
            T1.UNIT,
            T2.INSPECTION_TYPE AS inspectionType,
            T2.ITEM_NAME AS itemName,
            T2.METHOD_NAME AS methodName
        FROM INSPECTION_ITEM T1
        JOIN INSPECTION_FM T2
        ON T1.INSPECTION_FM_ID = T2.INSPECTION_FM_ID
    </select>

    <select id="findUnits" resultType="com.erp_mes.erp.commonCode.dto.CommonDetailCodeDTO">
        SELECT
            COM_DT_ID AS comDtId,
            COM_DT_NM AS comDtNm
        FROM COMMON_DT_CODE
        WHERE COM_ID = 'UNIT'
    </select>

</mapper>